{% if dispositivos %}
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 8px; border: 1px solid #ddd; text-align: left;">Nome</th>

            </tr>
        </thead>
        <tbody>
        {% for disp in dispositivos %}
            <tr>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ disp.nomeDispositivo }}</td>
                 <td style="padding: 8px; border: 1px solid #ddd;">
                    <a href="{% url 'gerenciar_disp_play' disp.idDispositivo %}" data-dispositivo-id="{{ disp.idDispositivo }}">
                        Associar Playlist
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum dispositivo cadastrado ainda.</p>
{% endif %}