{% if midias_playlist %}
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 8px; border: 1px solid #ddd; text-align: left;">Título</th>
                <th style="padding: 8px; border: 1px solid #ddd; text-align: left;">Ordem de exibição</th>
            </tr>
        </thead>
        <tbody>
        {% for mp in midias_playlist %}
            <tr>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ mp.id_midia.titulo }}</td>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ mp.ordem_midia }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhuma mídia associada ainda.</p>
{% endif %}
